# This is an example .env file to guide you in setting up your environment variables for a web application.
# Make sure to rename this file to `.env` before using it in your application.
# Adjust the required values to fit your environment.

# Example:
#DATABASE_URL="postgresql://admin:123456@localhost:5432/fluently"