.contactCard {
  padding: 1.5rem;
  border-radius: 10px;
  margin-bottom: 2rem;;
  display: flex;
  align-items: center;
  gap: 1rem;
  backdrop-filter: blur(16px);
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #6c757d; 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  font-weight: bold;
  color: #fff;
}

.contactInfo {
  display: flex;
  flex-direction: column;
}

.contactName {
  font-size: 1.25rem;
  font-weight: 500;
}

.contactEmail {
  font-size: 1rem;
  color: #6c757d;
}