.profile {
  width: 35%;
  top: 1.5em;
  height: 40vh;
  justify-content: center;
  background-color: hsl(0, 0%, 13%);
  box-shadow: 0 0 20px 5px rgb(251, 207, 232);
}

  .loader {
    margin-top: 20px;
  }

  .avatar {
    border: 2px solid rgb(251, 207, 232);
    border-radius: 50%;
    box-shadow: 0 0 15px 1px rgba(251, 207, 232, 0.6);
  }
  
